<div class="md-padding" id="popupContainer" ng-cloak>
    <md-dialog aria-label="Account Creation" layout-padding ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Account</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <h2></b>X</b></h2>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="accountCreationForm">
            
            <md-input-container class="md-block">
                <label>Company Name</label>
                <input required name="Company Name" ng-model="al.account.companyName">
                <div ng-messages="accountCreationForm.companyName.$error">
                <div ng-message="required">*required.</div>
                </div>
            </md-input-container>
            
            <md-input-container class="md-block">
                <label>Company Type</label>
                <input required name="Company Type" ng-model="al.account.companyType">
                <div class="hint">Tell us what we should call you!</div>
                <div ng-messages="accountCreationForm.companyType.$error">
                    <div ng-message="required">*required.</div>
                </div>        
            </md-input-container>
            
            <md-input-container class="md-block">
                <label>State of Formation</label>
                <input required name="State of Formation" ng-model="al.account.stateOfFormation">
                <div class="hint">What state were you incorporated?</div>
                <div ng-messages="accountCreationForm.stateOfFormation.$error">
                    <div ng-message="required">*required.</div>
                </div>

            </md-input-container>
            
            <md-input-container class="md-block">
                <label>Address Line One</label>
                <input name="Address Line One" ng-model="al.account.addressLineOne">
            </md-input-container>
        
            <md-input-container class="md-block">
                <label>Address Line Two</label>
                <input name="Address Line Two" ng-model="al.account.addressLineTwo">
            </md-input-container>
            
            <md-input-container class="md-block">
                <label>Country</label>
                <input name="Country" ng-model="al.account.country">
            </md-input-container>
            
            <md-input-container class="md-block">
                <label>State</label>
                <input required name="State" ng-model="al.account.state">
                <div ng-messages="accountCreationForm.state.$error">
                    <div ng-message="required">*required.</div>
                </div>
            </md-input-container>        
            
            <md-input-container class="md-block">
                <label>Account Administrator Name</label>
                <input required name="Account Administrator Name" ng-model="al.account.accountAdminName">
                <div ng-messages="accountCreationForm.accountAdminName.$error">
                    <div ng-message="required">*required.</div>
                </div>
            </md-input-container>                        
            
            <md-input-container class="md-block">
                <label>Account Administrator Title</label>
                <input required name="Account Administrator Title" ng-model="al.account.accountAdminTitle">
                <div ng-messages="accountCreationForm.accountAdminTitle.$error">
                    <div ng-message="required">*required.</div>
                </div>
            </md-input-container>                                
            
            
            <md-input-container class="md-block">
                <label>Account Administrator Email</label>
                <input required type="email" name="Account Administrator Email" ng-model="al.account.accountAdminEmail"
                    minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="accountCreationForm.accountAdminEmail.$error" role="alert">
                    <div ng-message="required">*required.</div>
                </div>    
                    <!--<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>-->
            </md-input-container>
            
            
            <md-input-container class="md-block">
                <md-optgroup label-"How many Directors?">
                    <md-option ng-value="1"></md-option>
                    <md-option ng-value="2"></md-option>
                    <md-option ng-value="3"></md-option>
                    <md-option ng-value="4"></md-option>
                </md-optgroup>
                <md-select ng-model="al.directorAmount">
                
            <md-input-container class="md-block">
                <label>Director(s)</label>
                <input name="director" ng-model="al.directors"/>  
            </md-input-container>
                
            <!--<md-input-container class="md-block">
                <label>Hourly Rate (USD)</label>
                <input required type="number" step="any" name="rate" ng-model="al.account.rate" min="800"
                    max="4999" ng-pattern="/^1234$/" />-->
                <!--<div ng-messages="accountCreationForm.rate.$error" multiple md-auto-hide="false">
                <div ng-message="required">
                    You've got to charge something! You can't just <b>give away</b> a Missile Defense
                    System.
                </div>
                <div ng-message="min">
                    You should charge at least $800 an hour. This job is a big deal... if you mess up,
                    everyone dies!
                </div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
                <div ng-message="max">
                    {{accountCreationForm.rate.$viewValue | currency:"$":0}} an hour? That's a little ridiculous. I
                    doubt event Bill Clinton could afford that.
                </div>
                </div>-->
            <!--</md-input-container>-->

            </form>
        </mid-dialog-content>
    </md-dialog>
</div>