/*
*******
*/
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  /*height:100%;*/
  margin: 0px;
  padding: 0px;
}

.menuIcon{
    color: #D50000;
}

.material-icons:hover{
    color: #E040FB;
}
/*
account page styling
********************
*/


/*Toolbar area */

.loginInfo{
    color: black;
     /*background-color: transparent;*/
  /*border: none;*/
  /*width: 150px;*/
  /*height: 48px;*/
  /*margin: 8px auto 16px 0;*/
  padding-top: 35px;
  /*position: absolute;
  top: 10px;
  left: 25px;*/
  z-index: 1500;
  font-size: 12px;
  font-weight: 800;
  text-align: center;
}

#topToolBar{
    background-color: white;
    text-shadow: 5em;
    text-align: center;
    /*font-weight: bolder;*/
    padding: 10 0 0 0;
}
 #topToolBar h1{    
    color: black;
    opacity: .98; 
    letter-spacing: .9em;
 }
#maini{
    color: #D50000;
    font-weight: bolder;
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*md-toolbar h1 {
    margin: auto;
    font-weight: 900;
    letter-spacing: .8em;
    font-size: 24px;
    text-align: center;
    
}*/

md-toolbar h3 {
    margin: auto;
  }
  
.md-tab {
    font-size: 18px;
}

/*
@media (max-width: 765px) {

    #tool-bar-container{
        margin-left: 0;
        margin-right: 0;
    
    }
}*/
#toolBar{
    background-color: white;
    text-shadow: 5em;
    color: black;
    opacity: .98; 
    letter-spacing: .1em;
    padding: 10 0 0 0;
    text-align: center;

    /*font-weight: bolder;*/
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

/*Sidenav area*/

.sideHeader{
    margin-left: 10px;
}


md-list .md-button.selected {
    color: #03a9f4;
}

.min-width-set{
    min-width: 395px;
}


/*primary content*/

/*#content  {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}*/

#content {
    text-align: center;
    
}

#content .md-button.share {
  /*background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;*/
  position: absolute;
  top: 10px;
  right: 25px;
}
#content .md-button.edit {
    position: absolute;
    top: 55px;
    right: 25px;
}
@media (max-width: 760px) {
    #content .md-button.edit {
        position: absolute;
        top: 110px;
        right: 25px;
    }
    #content .md-button.share {
        position: absolute;
        top: 65px;
        right: 25px;
    }    
}
#popupContainer {
    height: 90vh;
    width: 600px;
}
/*
*******
*/


/*
Meeting Page
*/

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 10px;
	/*margin-left: 0px;  Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}

.validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 10px 0 0 25px; }
    
/*Idoc Create*/
.iDocCreateBody{
    text-align: center;
}